{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Music DB</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column col-2 navigation">
          <p>
            <img id="logo" src="{% static 'images/logo.jpg' %}">
          </p>
          {% if user.is_authenticated %}
            <p>Logged in as {{ user.get_username }}</p>
          {% endif %}
          <ul>
            {% if user.is_authenticated %}
              <li><a href="/">Home / Search</a></li>
              <li><a href="/browse/instrument">Browse by Instrument</a></li>
              <li><a href="/browse/composer">Browse by Composer</a></li>
              <li><a href="/browse/category">Browse by Category</a></li>
              <li><a href="/browse/publisher">Browse by Publisher</a></li>
              <li><a href="/admin">Catalogue Admin</a></li>
              <li><a href="{% url 'logout'%}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login'%}">Login</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="column col-10">
          <h1>{{ heading }}</h1>
