<div class="search-subheader">
  <form action="{% url 'search_results' %}" method="get">
    <input id="search" name="query" type="text" placeholder="Search..." {% if object_list.query %}
      value="{{ object_list.query }}" {% endif %}>
    <br />
    <label>Instruments:</label>
    <select name="instrument">
      <option> </option>
      {% for instrument in object_list.instruments %}
      <option value="{{ instrument.pk }}"
        {% if object_list.instrument_query|add:"0" == instrument.pk %}
          selected
        {% endif %}
        >
        {{ instrument.instrument_group }} - {{ instrument }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Shelf Locations:</label>
    <select name="shelf_location">
      <option> </option>
      {% for shelf_location in object_list.shelf_locations %}
      <option value="{{ shelf_location.pk }}"
        {% if object_list.shelf_location_query|add:"0" == shelf_location.pk %}
          selected
        {% endif %}
        >
        {{ shelf_location }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Composers:</label>
    <select name="composer">
      <option> </option>
      {% for composer in object_list.composers %}
      <option value="{{ composer.pk }}"
        {% if object_list.composer_query|add:"0" == composer.pk %}
          selected
        {% endif %}
        >
        {{ composer }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Arrangers:</label>
    <select name="arranger">
      <option> </option>
      {% for arranger in object_list.arrangers %}
      <option value="{{ arranger.pk }}"
        {% if object_list.arranger_query|add:"0" == arranger.pk %}
          selected
        {% endif %}
        >
        {{ arranger }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Publishers:</label>
    <select name="publisher">
      <option> </option>
      {% for publisher in object_list.publishers %}
      <option value="{{ publisher.pk }}"
        {% if object_list.publisher_query|add:"0" == publisher.pk %}
          selected
        {% endif %}
        >
        {{ publisher }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Grades:</label>
    <select name="grade">
      <option> </option>
      {% for grade in object_list.grades %}
      <option value="{{ grade.pk }}"
        {% if object_list.grade_query|add:"0" == grade.pk %}
          selected
        {% endif %}
        >
        {{ grade }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Accompaniment:</label>
    <select name="accompaniment">
      <option> </option>
      {% for accompaniment in object_list.accompaniments %}
      <option value="{{ accompaniment.pk }}" 
        {% if object_list.accompaniment_query|add:"0" == accompaniment.pk %}
          selected
        {% endif %}
        >
        {{ accompaniment }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Ensemble Parts:</label>
    <select name="ensemble_part">
      <option> </option>
      {% for ensemble_part in object_list.ensemble_parts %}
      <option value="{{ ensemble_part.pk }}"
        {% if object_list.ensemble_part_query|add:"0" == ensemble_part.pk %}
          selected
        {% endif %}
        >
        {{ ensemble_part }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Genre:</label>
    <select name="genre">
      <option> </option>
      {% for genre in object_list.genres %}
      <option value="{{ genre.pk }}"
        {% if object_list.genre_query|add:"0" == genre.pk %}
          selected
        {% endif %}
        >
        {{ genre }}</option>
      {% endfor %}
    </select>
    <br />
    <label>Status:</label>
    <select name="status">
      <option> </option>
      {% for status in object_list.statuses %}
      <option value="{{ status.pk }}"
        {% if object_list.status_query|add:"0" == status.pk %}
          selected 
        {% endif %}
        >
        {{ status }}</option>
      {% endfor %}
    </select>
    <br />
    <input type="submit" value="Search">
  </form>
</div>