{% include 'partials/header.html' with heading=piece %}

<div class="piece columns">
  <div class="cover-image column col-3">
    cover image
  </div>
  <div class="column col-9">
    <table>
      <tr>
        <th>Composer/s:</th>
        <td>
          {% for composer in piece.composers.all %}
            {{ composer }}<br/>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>Arranger/s:</th>
        <td>
          {% for arranger in piece.arrangers.all %}
            {{ arranger }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>Instrument/s:</th>
        <td>
          {% for instrument in piece.instruments.all %}
            {{ instrument }}<br/>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>Shelf Location:</th>
        <td>
          {% for shelf_location in piece.shelf_locations.all %}
            {{ shelf_location }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>Publisher: </th>
        <td>{{ piece.publisher }}</td>
      </tr>
      <tr><th>&nbsp;</th><td>&nbsp;</td></tr>
      <tr>
        <th>Catalogue Number: </th>
        <td>{{ piece.catalogue_number }}</td>
      </tr>
      <tr>
        <th>Location: </th>
        <td>{{ piece.location }}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Grade: </th>
        <td>
          {% for grade in piece.grades.all %}
            {{ grade }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>Accompaniment: </th>
        <td>
          {% for accompaniment in piece.accompaniments.all %}
            {{ accompaniment }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Missing parts:</th>
        <td>{{ piece.missing_parts }}</td>
      </tr>
      <tr>
        <th>Date last checked: </th>
        <td>{{ piece.date_last_checked }}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Number of originals: </th>
        <td>{{ piece.number_of_originals }}</td>
      </tr>
      <tr>
        <th>Number of copies: </th>
        <td>{{ piece.number_of_copies }}</td>
      </tr>
      <tr>
        <th>ISBN: </th>
        <td>{{ piece.isbn }}</td>
      </tr>
      <tr>
        <th>Notes: </th>
        <td>{{ piece.notes }}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Record created at: </th>
        <td>{{ piece.created_at }}</td>
      </tr>
      <tr>
        <th>Record last updated at: </th>
        <td>{{ piece.updated_at }}</td>
      </tr>
    </table>
  </div>
</div>



{% include 'partials/footer.html' %}
