body {
  background-color: #eeeef0;
}

.search-home {
  margin: 100px;
  text-align: center;
}

#logo {
  width: 100%;
}

#search {
  padding: 10px;
  font-size: 1.2em;
  width: 80%;
}

.navigation {
  font-size: 0.8em;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results {
}

.search-title {
  font-size: 1.2em;
  font-weight: bold;
}

.search-subheader {
  margin-bottom: 20px;
}

.search-subheader label {
  width: 130px;
  display: inline-block;
}

.search-subtitle {
  font-size: 0.8em;
  color: chocolate;
  padding-bottom: 10px;
}

.piece .cover-image {
  /* width: 100%; */
  /* height: auto; */
  border: 1px solid #ccc;
}

.piece th {
  text-align: left;
  padding-right: 10px;
}