{% extends "admin/change_form.html" %}

{% block extrahead %}
<script>
  function getSuggestedCatalogueNo() {
    const instrumentsDropdown = document.getElementById('id_instruments');
    const selectedInstruments = Array.from(instrumentsDropdown.selectedOptions).map(option => option.value);

    const shelfLocationsDropdown = document.getElementById('id_shelf_locations');
    const selectedShelfLocations = Array.from(shelfLocationsDropdown.selectedOptions).map(option => option.value);

    const queryParams = new URLSearchParams();
    selectedInstruments.forEach(value => queryParams.append('instruments', value));
    selectedShelfLocations.forEach(value => queryParams.append('shelf_locations', value));

    fetch(`/get_suggested_catalogue_no/?${queryParams.toString()}`)
      .then(response => response.json())
      .then(data => {
        const inputField = document.getElementById('id_catalogue_number');
        inputField.value = data.suggested_catalogue_no;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      }
    );
  }
  document.addEventListener('DOMContentLoaded', () => {
    // Attach event listeners to the select elements
    const instrumentsDropdown = document.getElementById('id_instruments');
    const shelfLocationsDropdown = document.getElementById('id_shelf_locations');

    if (instrumentsDropdown) {
        instrumentsDropdown.addEventListener('change', getSuggestedCatalogueNo);
    }

    if (shelfLocationsDropdown) {
        shelfLocationsDropdown.addEventListener('change', getSuggestedCatalogueNo);
    }
  });
</script>
{% endblock %}

{% block submit_buttons_bottom %}
<input type="button" value="Send AJAX" class="default" onclick="getSuggestedCatalogueNo()">
{{ block.super }}
{% endblock %}
